[Unit]
Description=Kiosk Chromium Browser
After=graphical-session.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/snap/bin/chromium --kiosk --noerrdialogs --disable-infobars --no-first-run --start-fullscreen http://192.168.1.3:3000/app/echo-dashboard/
Restart=no
KillMode=process

[Install]
WantedBy=graphical-session.target
